* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: "Poppins", "Segoe UI", sans-serif; 
} 
 
/* Background */ 
.bg { 
    min-height: 100vh; 
    background: linear-gradient( 
        120deg, 
        #ff6a00, 
        #ee0979, 
        #6a11cb, 
        #2575fc 
    ); 
    background-size: 300% 300%; 
    animation: gradientMove 10s ease infinite; 
 
    display: flex; 
    align-items: center; 
    justify-content: center; 
} 
 
@keyframes gradientMove { 
    0% { background-position: 0% 50%; } 
    50% { background-position: 100% 50%; } 
    100% { background-position: 0% 50%; } 
} 
 
/* Card */ 
.card { 
    width: 400px; 
    padding: 35px; 
    border-radius: 22px; 
    background: rgba(255, 255, 255, 0.15); /* Set the background color  */
    backdrop-filter: blur(14px); 
    -webkit-backdrop-filter: blur(14px); 
    box-shadow: 0 30px 60px rgba(0,0,0,0.35); 
    color: white; 
    text-align: center; 
    animation: popIn 0.8s ease; 
} 
 
@keyframes popIn { 
    from { 
        opacity: 0; 
        transform: scale(0.9) translateY(30px); 
    } 
    to { 
        opacity: 1; 
        transform: scale(1) translateY(0); 
    } 
} 
 
h1 { 
    font-size: 34px; 
    margin-bottom: 8px; 
} 
 
h1 span { 
    color: #ffd369; 
} 
 
.subtitle { 
    font-size: 14px; 
    opacity: 0.9; 
    margin-bottom: 30px; 
} 
 
/* Form */ 
label { 
    display: block; 
    text-align: left; 
    font-size: 14px; 
    margin-bottom: 8px; 
    font-weight: 600; 
} 
 
input { 
    width: 100%; 
    padding: 13px; 
    border-radius: 12px; 
    border: none; 
    font-size: 15px; 
    margin-bottom: 25px; 
    background: rgba(255,255,255,0.85); 
    color: #333; 
} 
 
input:focus { 
    outline: none; 
    box-shadow: 0 0 0 3px rgba(255, 211, 105, 0.6); 
} 
 
/* Button */ 
button { 
    width: 100%; 
    padding: 14px; 
    border-radius: 14px; 
    border: none; 
    font-size: 16px; 
    font-weight: bold; 
    cursor: pointer; 
    color: #333; 
    background: linear-gradient(135deg, #ffd369, #ffb703); 
    transition: 0.3s; 
} 
 
button:hover { 
    transform: translateY(-3px) scale(1.02); 
    box-shadow: 0 15px 30px rgba(0,0,0,0.35); 
} 
 
/* Footer */ 
.footer { 
    margin-top: 20px; 
    font-size: 12px; 
    opacity: 0.85; 
} 
 
/* Result styles */ 
.result { 
    text-align: left; 
    margin-top: 20px; 
} 
 
.success { 
    color: #00ffab; 
    font-weight: bold; 
} 
 
.error { 
    color: #ffb3b3; 
    font-weight: bold; 
}